@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@import "@fontsource/neuton";
@import "@fontsource/news-cycle";

@theme {
    --font-sans: "News Cycle", sans-serif;
    --font-serif: "Neuton", serif;
}

@plugin "daisyui" {
    themes: dracula --default;
}

html,
body {
    @apply font-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-sans uppercase;
}

.floating-label {
    @apply font-sans;
}

.btn {
    @apply font-sans uppercase tracking-wide;
}

.h1 {
    @apply text-3xl tracking-wide;
}

.subhead {
    @apply text-neutral-content mt-1 text-lg;
}
